{% extends "manager/decoupe.html.twig" %}

{%  block title %}Corlay manager - Lubrifiants{%  endblock %}

{% block active_menu_lubrifiants %}active bg-gradient-primary{% endblock %}

{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Lubrifiants</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">Declinaisons du lubrifiant {{ lubri.lubname }}</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">

                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="container-fluid py-4">

        <div class="row" style="padding-bottom: 40px;">
            <div class="col-lg-8 card">
                <h4 style="padding-top: 20px;">Modifier les inofrmations du Lubrifiant</h4>
                <form action="{{ path('app_lubriupdate',{'id':lubri.id}) }}" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nom du lubrifiant</label>
                        <div class="input-group input-group-outline">
                            <input type="text" name="nomlub" value="{% if lubri.lubname is defined %}{{ lubri.lubname }}{% endif %}" class="form-control" placeholder="Nom du Lubrifiant">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Description</label>
                        <div class="input-group input-group-outline">
                            <input type="text" class="form-control" value="{% if lubri.lubdescription is defined %}{{ lubri.lubdescription }}{% endif %}" name="description">
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                 <h6 class="text-white text-capitalize ps-3">
                                    Liste des Lubrifiants {{ lubri.lubname }}
                                </h6>
                                <a href="{{ path('app_add_declinaison',{'id':lubri.id}) }}" class="btn bg-gradient-success mb-0 toast-btn float-end" type="button" data-target="successToast" style="margin-top: -39px; margin-right: 35px;">
                                    <i class="fas fa-plus"></i>
                                    Nouveau
                                </a>
                            </div>
                        </div>

                        <!-- Tableau Responsif -->
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom du produit</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Grade</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Performance</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Emballage</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in declis %}
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">{{item.nom}}</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs text-secondary mb-0">{{item.grade}}</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="badge badge-sm bg-gradient-secondary">{{ item.performance }}</span>
                                        </td>
                                        <td>
                                            <p class="text-xs text-secondary mb-0">{{item.emballage}}</p>
                                        </td>
                                        <td class="align-middle text-center">
                                            <a href="{{ path('app_declinaisonedit',{'id':item.id}) }}" class="btn bg-gradient-info mb-0 toast-btn" type="button" data-target="infoToast">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            &nbsp;{% if (app.user.roles[0] == 'ROLE_ADMIN' or app.user.roles[0] =='ROLE_SUPER_ADMIN') %}
                                            <a href="{{ path('app_delete_declinaison',{'id':item.id,'cat':lubri.id}) }}" class="btn bg-gradient-danger mb-0 toast-btn" type="button" data-target="dangerToast">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}