<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from live.themewild.com/industox/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 10 Mar 2023 12:21:04 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('ancien_client/img/logo/favicon.ico') }}">

    <link rel="stylesheet" href="{{ asset('ancien_client/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('ancien_client/css/all-fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('ancien_client/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('ancien_client/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('ancien_client/css/magnific-popup.min.css') }}">
    <link rel="stylesheet" href="{{ asset('ancien_client/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('ancien_client/css/style.css?909') }}">
</head>
<body>

<div class="preloader">
    <div class="loader">
        <div class="loader-box-1"></div>
        <div class="loader-box-2"></div>
    </div>
</div>



<main class="main">
    {% block content %}{% endblock %}
</main>


<script src="{{ asset('ancien_client/js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ asset('ancien_client/js/modernizr.min.js') }}"></script>
<script src="{{ asset('ancien_client/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('ancien_client/js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset('ancien_client/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('ancien_client/js/isotope.pkgd.min.js') }}"></script>
<script src="{{ asset('ancien_client/js/jquery.appear.min.js') }}"></script>
<script src="{{ asset('ancien_client/js/jquery.easing.min.js') }}"></script>
<script src="{{ asset('ancien_client/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('ancien_client/js/counter-up.js') }}"></script>
<script src="{{ asset('ancien_client/js/wow.min.js') }}"></script>
<script src="{{ asset('ancien_client/js/main.js') }}"></script>
</body>

<!-- Mirrored from live.themewild.com/industox/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 10 Mar 2023 12:21:57 GMT -->
</html>